.container {
  text-align: center;
}

a:hover,
a:focus,
a:active {
  text-decoration: none;
}

.container .btn {
  display: inline-block;
  padding: .25rem 1rem;
  font-family: "PT Sans", sans-serif;
  color: #82308b;
  border: .1rem solid #eee;
  border-radius: .1rem;
}
.container .btn:hover,
.container .btn:focus,
.container .btn:active,
.container .btn.active {
  color: #fff;
  background-color: #82308b;
  border-color: #82308b;
}

hr {
  max-width: 6rem;
  margin: 3rem auto;
  border-top-color: #eee;
  border-bottom: 0;
}

.collapse {
  display: none;
}

/* Matlab Purple */
.theme-matlab-purple .sidebar,
.theme-matlab-purple .sidebar-toggle:active,
.theme-matlab-purple #sidebar-checkbox:focus ~ .sidebar-toggle,
.theme-matlab-purple #sidebar-checkbox:checked ~ .sidebar-toggle {
  background-color: #82308b;
}
.theme-matlab-purple .sidebar-toggle:before {
  background-image: -webkit-linear-gradient(to bottom, #82308b, #82308b 20%, #fff 20%, #fff 40%, #82308b 40%, #82308b 60%, #fff 60%, #fff 80%, #82308b 80%, #82308b 100%);
  background-image:    -moz-linear-gradient(to bottom, #82308b, #82308b 20%, #fff 20%, #fff 40%, #82308b 40%, #82308b 60%, #fff 60%, #fff 80%, #82308b 80%, #82308b 100%);
  background-image:     -ms-linear-gradient(to bottom, #82308b, #82308b 20%, #fff 20%, #fff 40%, #82308b 40%, #82308b 60%, #fff 60%, #fff 80%, #82308b 80%, #82308b 100%);
  background-image:         linear-gradient(to bottom, #82308b, #82308b 20%, #fff 20%, #fff 40%, #82308b 40%, #82308b 60%, #fff 60%, #fff 80%, #82308b 80%, #82308b 100%);
}
.theme-matlab-purple h1,
.theme-matlab-purple .container a,
.theme-matlab-purple .sidebar-toggle,
.theme-matlab-purple .related-posts li a:hover {
  color: #82308b;
}
